[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/bin/bash -c "${SYSTEM_SCRIPT}/background_changer"
Restart=on-failure
